.trademark{
    text-align: center;
}

body {
    background-color: #EEE8AA;
}

#content {
   height: 700px;
   background-color: #FFFFFF;
}

#footer {
    padding-top: 20px;
    border-top: 1px solid black;
}

#header {
    background-color: #FFFFFF;
}

.no-margin {
    margin: 0;
}

#content h1{
    text-align: center;
}
#puzzle_draw{
    width: 100%;
    height: 694px;
    padding: 25px;
    display: inline-block;
    position: relative;
}
.puzzle_placeholder{
    margin-left: 18%;
    margin-right: 18%;
    border: 1px solid black;
    position: relative;
    text-align: center;
    background-color: white;
    opacity: 0.7;
    filter: alpha(Opacity=70);

}
.doubler{
    display: none;
}

#contextMenuLabyrinth{
    width: 200px;
    border: 1px solid #D3D3D3;
    background-color: #EEE9E9;
    position: absolute;
    display: none;
    z-index: 10;
}

#contextMenuLabyrinth ul{
    margin: 0;
    padding: 0;
}

#contextMenuLabyrinth li{
    text-align: left;
    display: block;
    list-style-type: none;
}

#contextMenuLabyrinth li:hover{
    background-color: #DA70D6;
}

#contextMenuLabyrinth li a{
    display: block;
    color: #8B7D6B;
    padding: 5px 5px 5px 25px;
}

#contextMenuLabyrinth li a:hover{
    text-decoration: none;
    color: #2F4F4F;
}

.inner_puzzle{   
    height: inherit;
}