<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<svg xmlns="http://www.w3.org/0000/svg" id="puzzle_draw" style="width: 1000px; height: 1000px;">
	<!-- горизонтальные линии-->
	<line x1="190" x2="290" y1="50" y2="50" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_1_1"></line>
	<line x1="290" x2="390" y1="50" y2="50" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_1_2"></line>
	<line x1="390" x2="490" y1="50" y2="50" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_1_3"></line>
	<line x1="490" x2="590" y1="50" y2="50" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_1_4"></line>
	<line x1="590" x2="690" y1="50" y2="50" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_1_5"></line>
	<line x1="690" x2="790" y1="50" y2="50" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_1_6"></line>
	<line x1="790" x2="890" y1="50" y2="50" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_1_7"></line>
	
	<line x1="190" x2="290" y1="50" y2="50" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_1_1"></line>
	<line x1="290" x2="390" y1="50" y2="50" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_1_2"></line>
	<line x1="390" x2="490" y1="50" y2="50" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_1_3"></line>
	<line x1="490" x2="590" y1="50" y2="50" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_1_4"></line>
	<line x1="590" x2="690" y1="50" y2="50" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_1_5"></line>
	<line x1="690" x2="790" y1="50" y2="50" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_1_6"></line>
	<line x1="790" x2="890" y1="50" y2="50" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_1_7"></line>
	
	<line x1="190" x2="290" y1="150" y2="150" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_2_1"></line>
	<line x1="290" x2="390" y1="150" y2="150" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_2_2"></line>
	<line x1="390" x2="490" y1="150" y2="150" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_2_3"></line>
	<line x1="490" x2="590" y1="150" y2="150" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_2_4"></line>
	<line x1="590" x2="690" y1="150" y2="150" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_2_5"></line>
	<line x1="690" x2="790" y1="150" y2="150" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_2_6"></line>
	<line x1="790" x2="890" y1="150" y2="150" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_2_7"></line>
	
	<line x1="190" x2="290" y1="150" y2="150" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_2_1"></line>
	<line x1="290" x2="390" y1="150" y2="150" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_2_2"></line>
	<line x1="390" x2="490" y1="150" y2="150" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_2_3"></line>
	<line x1="490" x2="590" y1="150" y2="150" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_2_4"></line>
	<line x1="590" x2="690" y1="150" y2="150" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_2_5"></line>
	<line x1="690" x2="790" y1="150" y2="150" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_2_6"></line>
	<line x1="790" x2="890" y1="150" y2="150" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_2_7"></line>
	
	<line x1="190" x2="290" y1="250" y2="250" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_3_1"></line>
	<line x1="290" x2="390" y1="250" y2="250" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_3_2"></line>
	<line x1="390" x2="490" y1="250" y2="250" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_3_3"></line>
	<line x1="490" x2="590" y1="250" y2="250" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_3_4"></line>
	<line x1="590" x2="690" y1="250" y2="250" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_3_5"></line>
	<line x1="690" x2="790" y1="250" y2="250" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_3_6"></line>
	<line x1="790" x2="890" y1="250" y2="250" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_3_7"></line>
	
	<line x1="190" x2="290" y1="250" y2="250" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_3_1"></line>
	<line x1="290" x2="390" y1="250" y2="250" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_3_2"></line>
	<line x1="390" x2="490" y1="250" y2="250" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_3_3"></line>
	<line x1="490" x2="590" y1="250" y2="250" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_3_4"></line>
	<line x1="590" x2="690" y1="250" y2="250" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_3_5"></line>
	<line x1="690" x2="790" y1="250" y2="250" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_3_6"></line>
	<line x1="790" x2="890" y1="250" y2="250" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_3_7"></line>
	
	<line x1="190" x2="290" y1="350" y2="350" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_4_1"></line>
	<line x1="290" x2="390" y1="350" y2="350" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_4_2"></line>
	<line x1="390" x2="490" y1="350" y2="350" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_4_3"></line>
	<line x1="490" x2="590" y1="350" y2="350" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_4_4"></line>
	<line x1="590" x2="690" y1="350" y2="350" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_4_5"></line>
	<line x1="690" x2="790" y1="350" y2="350" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_4_6"></line>
	<line x1="790" x2="890" y1="350" y2="350" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_4_7"></line>
	
	<line x1="190" x2="290" y1="350" y2="350" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_4_1"></line>
	<line x1="290" x2="390" y1="350" y2="350" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_4_2"></line>
	<line x1="390" x2="490" y1="350" y2="350" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_4_3"></line>
	<line x1="490" x2="590" y1="350" y2="350" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_4_4"></line>
	<line x1="590" x2="690" y1="350" y2="350" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_4_5"></line>
	<line x1="690" x2="790" y1="350" y2="350" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_4_6"></line>
	<line x1="790" x2="890" y1="350" y2="350" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_4_7"></line>
	
	<line x1="190" x2="290" y1="450" y2="450" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_5_1"></line>
	<line x1="290" x2="390" y1="450" y2="450" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_5_2"></line>
	<line x1="390" x2="490" y1="450" y2="450" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_5_3"></line>
	<line x1="490" x2="590" y1="450" y2="450" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_5_4"></line>
	<line x1="590" x2="690" y1="450" y2="450" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_5_5"></line>
	<line x1="690" x2="790" y1="450" y2="450" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_5_6"></line>
	<line x1="790" x2="890" y1="450" y2="450" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_5_7"></line>
	
	<line x1="190" x2="290" y1="450" y2="450" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_5_1"></line>
	<line x1="290" x2="390" y1="450" y2="450" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_5_2"></line>
	<line x1="390" x2="490" y1="450" y2="450" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_5_3"></line>
	<line x1="490" x2="590" y1="450" y2="450" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_5_4"></line>
	<line x1="590" x2="690" y1="450" y2="450" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_5_5"></line>
	<line x1="690" x2="790" y1="450" y2="450" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_5_6"></line>
	<line x1="790" x2="890" y1="450" y2="450" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_5_7"></line>
	
	<line x1="190" x2="290" y1="550" y2="550" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_6_1"></line>
	<line x1="290" x2="390" y1="550" y2="550" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_6_2"></line>
	<line x1="390" x2="490" y1="550" y2="550" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_6_3"></line>
	<line x1="490" x2="590" y1="550" y2="550" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_6_4"></line>
	<line x1="590" x2="690" y1="550" y2="550" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_6_5"></line>
	<line x1="690" x2="790" y1="550" y2="550" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_6_6"></line>
	<line x1="790" x2="890" y1="550" y2="550" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="a_6_7"></line>
	
	<line x1="190" x2="290" y1="550" y2="550" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_6_1"></line>
	<line x1="290" x2="390" y1="550" y2="550" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_6_2"></line>
	<line x1="390" x2="490" y1="550" y2="550" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_6_3"></line>
	<line x1="490" x2="590" y1="550" y2="550" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_6_4"></line>
	<line x1="590" x2="690" y1="550" y2="550" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_6_5"></line>
	<line x1="690" x2="790" y1="550" y2="550" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_6_6"></line>
	<line x1="790" x2="890" y1="550" y2="550" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="a_6_7"></line>
	
	<!--вертикальные линии-->
	<line x1="190" x2="190" y1="50" y2="150" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_1_1"></line>
	<line x1="290" x2="290" y1="50" y2="150" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_1_2"></line>
	<line x1="390" x2="390" y1="50" y2="150" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_1_3"></line>
	<line x1="490" x2="490" y1="50" y2="150" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_1_4"></line>
	<line x1="590" x2="590" y1="50" y2="150" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_1_5"></line>
	<line x1="690" x2="690" y1="50" y2="150" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_1_6"></line>
	<line x1="790" x2="790" y1="50" y2="150" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_1_7"></line>
	<line x1="890" x2="890" y1="50" y2="150" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_1_8"></line>
	
	<line x1="190" x2="190" y1="50" y2="150" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_1_1"></line>
	<line x1="290" x2="290" y1="50" y2="150" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_1_2"></line>
	<line x1="390" x2="390" y1="50" y2="150" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_1_3"></line>
	<line x1="490" x2="490" y1="50" y2="150" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_1_4"></line>
	<line x1="590" x2="590" y1="50" y2="150" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_1_5"></line>
	<line x1="690" x2="690" y1="50" y2="150" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_1_6"></line>
	<line x1="790" x2="790" y1="50" y2="150" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_1_7"></line>
	<line x1="890" x2="890" y1="50" y2="150" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_1_8"></line>
	
	<line x1="190" x2="190" y1="150" y2="250" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_2_1"></line>
	<line x1="290" x2="290" y1="150" y2="250" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_2_2"></line>
	<line x1="390" x2="390" y1="150" y2="250" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_2_3"></line>
	<line x1="490" x2="490" y1="150" y2="250" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_2_4"></line>
	<line x1="590" x2="590" y1="150" y2="250" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_2_5"></line>
	<line x1="690" x2="690" y1="150" y2="250" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_2_6"></line>
	<line x1="790" x2="790" y1="150" y2="250" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_2_7"></line>
	<line x1="890" x2="890" y1="150" y2="250" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_2_8"></line>
	
	<line x1="190" x2="190" y1="150" y2="250" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_2_1"></line>
	<line x1="290" x2="290" y1="150" y2="250" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_2_2"></line>
	<line x1="390" x2="390" y1="150" y2="250" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_2_3"></line>
	<line x1="490" x2="490" y1="150" y2="250" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_2_4"></line>
	<line x1="590" x2="590" y1="150" y2="250" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_2_5"></line>
	<line x1="690" x2="690" y1="150" y2="250" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_2_6"></line>
	<line x1="790" x2="790" y1="150" y2="250" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_2_7"></line>
	<line x1="890" x2="890" y1="150" y2="250" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_2_8"></line>
	
	<line x1="190" x2="190" y1="250" y2="350" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_3_1"></line>
	<line x1="290" x2="290" y1="250" y2="350" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_3_2"></line>
	<line x1="390" x2="390" y1="250" y2="350" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_3_3"></line>
	<line x1="490" x2="490" y1="250" y2="350" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_3_4"></line>
	<line x1="590" x2="590" y1="250" y2="350" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_3_5"></line>
	<line x1="690" x2="690" y1="250" y2="350" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_3_6"></line>
	<line x1="790" x2="790" y1="250" y2="350" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_3_7"></line>
	<line x1="890" x2="890" y1="250" y2="350" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_3_8"></line>
	
	<line x1="190" x2="190" y1="250" y2="350" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_3_1"></line>
	<line x1="290" x2="290" y1="250" y2="350" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_3_2"></line>
	<line x1="390" x2="390" y1="250" y2="350" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_3_3"></line>
	<line x1="490" x2="490" y1="250" y2="350" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_3_4"></line>
	<line x1="590" x2="590" y1="250" y2="350" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_3_5"></line>
	<line x1="690" x2="690" y1="250" y2="350" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_3_6"></line>
	<line x1="790" x2="790" y1="250" y2="350" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_3_7"></line>
	<line x1="890" x2="890" y1="250" y2="350" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_3_8"></line>
	
	<line x1="190" x2="190" y1="350" y2="450" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_4_1"></line>
	<line x1="290" x2="290" y1="350" y2="450" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_4_2"></line>
	<line x1="390" x2="390" y1="350" y2="450" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_4_3"></line>
	<line x1="490" x2="490" y1="350" y2="450" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_4_4"></line>
	<line x1="590" x2="590" y1="350" y2="450" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_4_5"></line>
	<line x1="690" x2="690" y1="350" y2="450" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_4_6"></line>
	<line x1="790" x2="790" y1="350" y2="450" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_4_7"></line>
	<line x1="890" x2="890" y1="350" y2="450" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_4_8"></line>
	
	<line x1="190" x2="190" y1="350" y2="450" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_4_1"></line>
	<line x1="290" x2="290" y1="350" y2="450" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_4_2"></line>
	<line x1="390" x2="390" y1="350" y2="450" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_4_3"></line>
	<line x1="490" x2="490" y1="350" y2="450" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_4_4"></line>
	<line x1="590" x2="590" y1="350" y2="450" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_4_5"></line>
	<line x1="690" x2="690" y1="350" y2="450" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_4_6"></line>
	<line x1="790" x2="790" y1="350" y2="450" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_4_7"></line>
	<line x1="890" x2="890" y1="350" y2="450" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_4_8"></line>
	
	<line x1="190" x2="190" y1="450" y2="550" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_5_1"></line>
	<line x1="290" x2="290" y1="450" y2="550" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_5_2"></line>
	<line x1="390" x2="390" y1="450" y2="550" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_5_3"></line>
	<line x1="490" x2="490" y1="450" y2="550" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_5_4"></line>
	<line x1="590" x2="590" y1="450" y2="550" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_5_5"></line>
	<line x1="690" x2="690" y1="450" y2="550" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_5_6"></line>
	<line x1="790" x2="790" y1="450" y2="550" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_5_7"></line>
	<line x1="890" x2="890" y1="450" y2="550" stroke-width="10" stroke="grey" stroke-linecap="round" class="rib" id="b_5_8"></line>
	
	<line x1="190" x2="190" y1="450" y2="550" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_5_1"></line>
	<line x1="290" x2="290" y1="450" y2="550" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_5_2"></line>
	<line x1="390" x2="390" y1="450" y2="550" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_5_3"></line>
	<line x1="490" x2="490" y1="450" y2="550" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_5_4"></line>
	<line x1="590" x2="590" y1="450" y2="550" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_5_5"></line>
	<line x1="690" x2="690" y1="450" y2="550" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_5_6"></line>
	<line x1="790" x2="790" y1="450" y2="550" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_5_7"></line>
	<line x1="890" x2="890" y1="450" y2="550" stroke-width="10" stroke="yellow" stroke-linecap="round" class="doubler" rel="b_5_8"></line>

	
	<line x1="0" x2="0" y1="0" y2="0" stroke-width="10" stroke="yellow" stroke-linecap="round" class="rib" id="current_rib"></line>
	
	<!--особенности-->
	<!--наверное нужно выделить в отдельный шаблон или функцию-->
	<circle cx="240" cy="100" r="20" style="stroke: black; fill: white;"></circle>
	<circle cx="340" cy="100" r="20" style="stroke: black; fill: white;"></circle>
	<circle cx="440" cy="100" r="20" style="stroke: black; fill: white;"></circle>
	<circle cx="540" cy="100" r="20" style="stroke: black; fill: black;"></circle>

	<!-- Точки входа -->
	<circle class="start current_start" id="s_2_2" cx="290" cy="150" r="20" style="stroke: grey; fill: grey; cursor: pointer"></circle>
	<circle class="start doubler" rel="s_2_2" cx="290" cy="150" r="20" style="stroke: grey; fill: yellow; cursor: pointer"></circle>
	<line x1="590" y1="50" x2="600" y2="40" stroke-width="10" stroke="grey" stroke-linecap="round" class="exit"></line>
</svg>
<script type="text/javascript">
$(document).ready(function(){
	// это засунуть в какой-нибудь инит
	$('.doubler').hide();
	
	var labyrinth = {
		ribs : {max_x:0, max_y:0, min_x:1000000, min_y:1000000, min_y_rib:'b_1_1', min_x_rib: 'a_1_1'},
		allAccessRibs : [],
		allAccessRibsCurrent: [],
		allAccessPoints : {},
		allCompleteRibs : [],
		allCompletePoints: [],
		// пересчитываем все доступные рёбра
		reCountAccessRibs : function(rib = '') {
			if (labyrinth.allCompleteRibs.length === 0) {
				var p = labyrinth.allCompletePoints[0];
				var point = '';
				for (var key in p) {
					point = key;
					break;
				}
				labyrinth.allAccessRibsCurrent = getNeighboursRibsFromPoint(point);
			} else {
				if (labyrinth.allCompleteRibs.length === 1) {
					var completeAccessRibs = labyrinth.allCompleteRibs.slice();
					completeAccessRibs.pop();
					var tmp = arrayDifference(getNeighboursRibsFromRib(labyrinth.allCompleteRibs[labyrinth.allCompleteRibs.length - 1]), completeAccessRibs);
					labyrinth.allAccessRibsCurrent = arrayDifference(tmp, labyrinth.getNeighboursOfCompleteRibs());
					console.log('---------------------------');
				} else {	
					var tmpRibs = getNeighboursRibsFromRib(labyrinth.allCompleteRibs[labyrinth.allCompleteRibs.length - 1]);
					
					// тут нужно будет исключить всех соседей пройденных рёбер
					if (labyrinth.allCompleteRibs.length > 3) {
						for (var i = labyrinth.allCompleteRibs.length - 4; i >= 0; i--) {
							console.log('exclude neightbours: '+labyrinth.allCompleteRibs[i]);
							console.log(arrayDifference(tmpRibs, getNeighboursRibsFromRib(labyrinth.allCompleteRibs[i])));
							tmpRibs = arrayDifference(tmpRibs, getNeighboursRibsFromRib(labyrinth.allCompleteRibs[i]));
						}
					}
					labyrinth.allAccessRibsCurrent = tmpRibs;
					console.log('accessed:');					
					console.log(labyrinth.allAccessRibsCurrent);
					console.log('---------------------------');
				}
				
			}
		},
		// получаем всех соседей пройденных рёбер (кроме последнего)
		getNeighboursOfCompleteRibs : function() {
			var result = [];
			if (labyrinth.allCompleteRibs.length > 2) {
				for (var i = labyrinth.allCompleteRibs.length - 2; i >= 0; i--) {
					var curComplete = getNeighboursRibsFromRib(labyrinth.allCompleteRibs[i]);
					for (var j = 0; j < curComplete.length; j++) {
						if (!inArray(curComplete[j], result)) {
							result.push(curComplete[j]);
						}
					}
				}
			}
			return result;
		}
	};
	
	labyrinth.ribs.m = 5;
	labyrinth.ribs.n = 7;
	
	labyrinth.ribs.min_x = $('#'+labyrinth.ribs.min_y_rib).attr('x1');
	labyrinth.ribs.min_y = $('#'+labyrinth.ribs.min_x_rib).attr('y1');
	
	$('line.rib').each(function () {
		labyrinth.ribs[$(this).attr('id')] = {x1:$(this).attr('x1'), x2: $(this).attr('x2'), y1: $(this).attr('y1'), y2: $(this).attr('y2')};	
		var id = $(this).attr('id');
		if ($(this).attr('id').indexOf('a_') !== -1) {	
			if ($(this).attr('y2') >= labyrinth.ribs.max_y) {
				labyrinth.ribs.max_y = $(this).attr('y2');
				labyrinth.ribs.max_y_rib = id;
			}
		}
		if ($(this).attr('id').indexOf('b_') !== -1) {
			if ($(this).attr('x2') >= labyrinth.ribs.max_x) {
				labyrinth.ribs.max_x = $(this).attr('x2');
				labyrinth.ribs.max_x_rib = id;
			}
		}
		if ($(this).attr('id') != 'current_rib') {
			labyrinth.allAccessRibs.push(id);
		}
		// ещё нужно сохранять все точки лабиринта
		var point = dotFromRib(id);

		for (var i = 0; i <= 1; i++) {
			for (var j in point[i]) {
				if (!labyrinth.allAccessPoints[j]) {
					labyrinth.allAccessPoints[j] = point[i][j];	
				}
			}
		}
	});
	
	// получить точки данного ребра
	function dotFromRib(id) {
		var arr = id.split("_");
		var x1 = $('#'+id).attr('x1');
		var x2 = $('#'+id).attr('x2');
		var y1 = $('#'+id).attr('y1');
		var y2 = $('#'+id).attr('y2');
		var key1 = key2 = '';
		var obj1 = {};
		var obj2 = {};
		
		if (arr[0] == 'a') {
			key1 = "" + arr[1] + '_' + arr[2];
			key2 = "" + arr[1] + '_' + (arr[2] * 1 + 1);
			obj1[key1] = [x1, y1];
			obj2[key2] = [x2, y2];
			
		} else {
			key1 = "" + arr[1] + '_' + arr[2];
			key2 = "" + (arr[1] * 1 + 1) + '_' + arr[2];
			obj1[key1] = [x1, y1];
			obj2[key2] = [x2, y1];
		}
		return [obj1, obj2];
	}
	
	function nearestRib(x, y, lab) {
		var min_x = min_y = 100000;
		var min_x_rib = min_y_rib = 0;
		var ribs = lab.ribs;
		for (p in ribs) {
			// если x или y внутри лабиринта
			if ((x > ribs[p].x1 && x < ribs[p].x2) || (y > ribs[p].y1 && y < ribs[p].y2)) {
				// a
				if (p.indexOf('a_') !== -1) {
					if (Math.abs(y - ribs[p].y1) <= min_y) {
						min_y = Math.abs(y - labyrinth.ribs[p].y1);
						min_y_rib = p;
					}
				}
				// b
				if (p.indexOf('b_') !== -1) {
					if (Math.abs(x - ribs[p].x1) <= min_x) {
						min_x = Math.abs(x - labyrinth.ribs[p].x1);
						min_x_rib = p;
					}
				}
			} 
		}

		// если мышь оказалась где-то за гранью
		if (min_x_rib === 0 && min_y_rib === 0) {
			// правый нижний угол
			if (x >= ribs.max_x && y >= ribs.max_y) {
			//console.log('wrong1');
				min_x = Math.abs(x - ribs.max_x);
				min_y = Math.abs(y - ribs.max_y);
				
				min_x_rib = ribs.max_x_rib;
				min_y_rib = ribs.max_y_rib;
			}
			// правый верхний угол
			if (x >= ribs.max_x && y <= ribs.min_y) {
			
				min_x = Math.abs(x - ribs.max_x);
				min_y = Math.abs(y - ribs.min_y);

				min_x_rib = 'a_1_' + ribs.n;
				min_y_rib = 'b_1_' + (ribs.n + 1);
			}
			// левый верхний угол
			if (x <= ribs.min_x && y <= ribs.min_y) {
				min_x = Math.abs(x - ribs.min_x);
				min_y = Math.abs(y - ribs.min_y);
				
				min_x_rib = ribs.min_x_rib;
				min_y_rib = ribs.min_y_rib;
			}
			// левый нижний угол
			if (x <= ribs.min_x && y >= ribs.max_y) {
				min_x = Math.abs(x - ribs.min_x);
				min_y = Math.abs(y - ribs.max_y);
				
				min_x_rib = ribs.min_x_rib;
				min_y_rib = ribs.max_y_rib;
				
				min_x_rib = 'a_' + (ribs.m + 1) + '_1';
				min_y_rib = 'b_' + ribs.m + '_1';
			}
		}
		
		min_x_rib = min_x_rib ? min_x_rib : ribs.min_x_rib;
		min_y_rib = min_y_rib ? min_y_rib : ribs.min_y_rib;
		
		return min_x < min_y ? min_x_rib : min_y_rib;
	}
	
	// для точки доступно ли данное ребро
	function accessRibsFromPoint(r, point) {
		for (var k in point) {
			curPointArray = k.split("_");
			break;
		}
		if (!inArray(r, labyrinth.allAccessRibs)) {
			return false;
		}
		if (r === '' + 'a_' + k[0] + '_' + (k[1] - 1)
			|| r === '' + 'a_' + k[0] + '_' + k[1]
			|| r === '' + 'b_' + k[0] + '_' + k[1]
			|| r === '' + 'b_' + (k[0] - 1) + '_' + k[1]
		) {
			return true;
		}
		return false;
	}
	
	function drawLine(pointTo, labyrinth) {
		$('.doubler').hide();
		// рисуем стартовую линию
		var startId = $('.current_start').attr('id');
		$('circle[rel='+startId+']').show();
		// рисуем все рёбра, которые уже пройдены
		for (var i = 0; i < labyrinth.allCompleteRibs.length; i++) {
			$('[rel='+labyrinth.allCompleteRibs[i]+']').show();
		}	
		/*
		// рисуем неполную линию pointTo
		var halfLine = $('#current_rib');
		//console.log(pointTo);
		halfLine.attr('x1',pointTo.x1).attr('x2', pointTo.x2).attr('y1', pointTo.y1).attr('y2', pointTo.y2);
		*/
	}
	
	function inArray(needle, arr) {
		for (var i = 0; i < arr.length; i++) {
			if (arr[i] == needle) {
				return true;
			}
		}
		return false;
	}
	
	// функция нахождения разности массивов
	function arrayDifference(A, B) {
		var result = [];
		for (var i = 0; i < A.length; i++) {
			if (inArray(A[i], B)) {
				continue;
			} else {
				result.push(A[i]);
			}
		}
		return result;
	}

	// для точки возвращает все доступные рёбра
	function getAccessRibsFromPoint(point) {
		for (var k in point) {
			 var curPointArray = k.split("_");
			break;
		}
		
		var allRibs = ['a_' + k[0] + '_' + (k[1] - 1), 'a_' + k[0] + '_' + k[1], 'b_' + k[0] + '_' + k[1], 'b_' + (k[0] - 1) + '_' + k[1]];
		var result = [];
		for (var i = 0; i < allRibs.length; i++) {
			if (inArray(allRibs[i], labyrinth.allAccessRibs)) {
				result.push(allRibs[i]);
			}
		}
		return result;
	}
	
	// смотрим, являются ли два ребра соседними
	function isNeighbourRibs(curRib, lastRib) {
		if (!lastRib) {
			return false;
		} 
		var lastRibAr = lastRib.split("_");
		lastRibAr[1] = lastRibAr[1] * 1;
		lastRibAr[2] = lastRibAr[2] * 1;
		
		if (lastRibAr[0] == 'a') {
			var allRibsFromLast = [
				'a_' + lastRibAr[1] + '_' + (lastRibAr[2] - 1),
				'a_' + lastRibAr[1] + '_' + (lastRibAr[2] + 1),
				'b_' + (lastRibAr[1] - 1) + '_' + lastRibAr[2],
				'b_' + (lastRibAr[1] - 1) + '_' + (lastRibAr[2] + 1),
				'b_' + lastRibAr[1] + '_' + lastRibAr[2],
				'b_' + lastRibAr[1] + '_' + (lastRibAr[2] + 1),
			];
		} else {
			var allRibsFromLast = [
				'b_' + (lastRibAr[1] - 1) + '_' + lastRibAr[2],
				'b_' + (lastRibAr[1] + 1) + '_' + lastRibAr[2],
				'a_' + lastRibAr[1] + '_' + (lastRibAr[2] - 1),
				'a_' + lastRibAr[1] + '_' + lastRibAr[2],
				'a_' + (lastRibAr[1] + 1) + '_' + (lastRibAr[2] - 1),
				'a_' + (lastRibAr[1] + 1) + '_' + lastRibAr[2],
			];
		}
		//console.log(allRibsFromLast);
		if (inArray(curRib, allRibsFromLast)) {
			return true;
		}
		return false;
	}
	
	// получаем список соcедей-рёбер данного ребра
	function getNeighboursRibsFromRib(r){
		var ribAr = r.split("_");
		ribAr[1] = ribAr[1] * 1;
		ribAr[2] = ribAr[2] * 1;
		var allRibs = [];
		if (ribAr[0] == 'a') {
			allRibs = [
				'a_' + ribAr[1] + '_' + (ribAr[2] - 1),
				'a_' + ribAr[1] + '_' + (ribAr[2] + 1),
				'b_' + (ribAr[1] - 1) + '_' + ribAr[2],
				'b_' + (ribAr[1] - 1) + '_' + (ribAr[2] + 1),
				'b_' + ribAr[1] + '_' + ribAr[2],
				'b_' + ribAr[1] + '_' + (ribAr[2] + 1),
			];
		} else {
			allRibs = [
				'b_' + (ribAr[1] - 1) + '_' + ribAr[2],
				'b_' + (ribAr[1] + 1) + '_' + ribAr[2],
				'a_' + ribAr[1] + '_' + (ribAr[2] - 1),
				'a_' + ribAr[1] + '_' + ribAr[2],
				'a_' + (ribAr[1] + 1) + '_' + (ribAr[2] - 1),
				'a_' + (ribAr[1] + 1) + '_' + ribAr[2],
			];
		}
		var result = [];
		for (var i = 0; i < allRibs.length; i++) {
			if (inArray(allRibs[i], labyrinth.allAccessRibs)) {
				result.push(allRibs[i]);
			}
		}
		return result;
	}
	
	// получаем список соcедей-рёбер данной точки
	function getNeighboursRibsFromPoint(point) {
		var pointAr = point.split("_");
		pointAr[0] = pointAr[0] * 1;
		pointAr[1] = pointAr[1] * 1;
		var allRibs = [
			'a_' + pointAr[0] + '_' + pointAr[1],
			'a_' + pointAr[0] + '_' + (pointAr[1] - 1),
			'b_' + (pointAr[0] - 1) + '_' + pointAr[1],
			'b_' + pointAr[1] + '_' + pointAr[1]
		];
		var result = [];
		for (var i = 0; i < allRibs.length; i++) {
			if (inArray(allRibs[i], labyrinth.allAccessRibs)) {
				result.push(allRibs[i]);
			}
		}
		return result;
	}
	
	// смотрим, является ли точка общей для двух ребёр
	function isCommonDotToRibs(dot, rib1, rib2) {
		//console.log(arguments);
		for (var k in dot) {
			var curPointArray = k.split("_");
			break;
		}
		var rib1Ar = rib1.split("_");
		var rib2Ar = rib2.split("_");
		
		var flag = false;
		
		if (rib1Ar[0] == 'a') {
			if (rib2Ar[0] == 'b') {
				if ((rib1Ar[1] == rib2Ar[1]) || ((rib1Ar[1] - 1) == rib2Ar[1]) && curPointArray[0] == rib1Ar[1]) {
					flag = true;
				}
			}
		} else {
			if (rib2Ar[0] == 'a') {
				if ((rib1Ar[2] == rib2Ar[2] || (rib1Ar[2] - 1) == rib2Ar[2]) && curPointArray[1] == rib1Ar[2]) {
					flag = true;
				}
			} 
		}
		
		//console.log(flag);
		return flag;
	}
	
	// получаем общую точку для 2-х рёбер
	function getCommonDotFromRibs(rib1, rib2) {
		var d1 = dotFromRib(rib1);
		var d2 = dotFromRib(rib2);
		if ((JSON.stringify(d1[0]) == JSON.stringify(d2[0])) || (JSON.stringify(d1[0]) == JSON.stringify(d2[1]))) {
			return d1[0];
		}
		if ((JSON.stringify(d1[1]) == JSON.stringify(d2[0])) || (JSON.stringify(d1[1]) == JSON.stringify(d2[1]))) {
			return d1[1];
		}
		return false;
	}
	
	// тут данные буту браться из формы, в котором находится лабиринт
	var start = {'2_2' : [290, 150]};
	// конец данных из бэкэнда
	labyrinth.allCompletePoints.push(start);
	labyrinth.reCountAccessRibs();
	
	$(document).mousemove(function(e){
		var X = e.pageX; // положения по оси X
		var Y = e.pageY; // положения по оси Y
		
		// получили ближайшие ребро и точку к курсору мыши
		var r = nearestRib(X, Y, labyrinth);
		
		// !!!!!!!!!!!!!!!!!!!!!!!!
		// здесь находим кусочек для прорисовки в функцию drawLine (pointTo)
		// !!!!!!!!!!!!!!!!!!!!!!!!
		
		/** 
			проверяем, есть ли ближайшее ребро в списке доступных рёбер. 
			Если есть, тогда производим стандартные действия над расчётом и формированием рёбер.
			Если нет. то просто производим прорисовку по имеющимся данным.
		*/
		console.log(r);
		if (inArray(r, labyrinth.allAccessRibsCurrent) || r == labyrinth.allCompleteRibs[labyrinth.allCompleteRibs.length - 1]) {
			if (labyrinth.allCompleteRibs.length === 0) {
				labyrinth.allCompleteRibs.push(r);
			}
		
			var lastRib = labyrinth.allCompleteRibs[labyrinth.allCompleteRibs.length - 1];
			
			if (r != lastRib) {
				if (isNeighbourRibs(r, lastRib)) {
					var commonDot = getCommonDotFromRibs(r, lastRib);
					if (isCommonDotToRibs(start, r, lastRib) && labyrinth.allCompletePoints.length == 1) {
						// TODO: поставить проверку, что текущая точка не стартовая
						labyrinth.allCompleteRibs.pop();
						labyrinth.allCompleteRibs.push(r);
					} else {
						if (labyrinth.allCompleteRibs.length > 2) {
							if (!inArray(r, labyrinth.allCompleteRibs)) {
								if (isNeighbourRibs(r, labyrinth.allCompleteRibs[labyrinth.allCompleteRibs.length - 2])
									&& isNeighbourRibs(lastRib, labyrinth.allCompleteRibs[labyrinth.allCompleteRibs.length - 2])
								) {
									labyrinth.allCompleteRibs.pop();
									labyrinth.allCompleteRibs.push(r);
								} else {
									labyrinth.allCompleteRibs.push(r);
									labyrinth.allCompletePoints.push(commonDot);
								}
							} else {
								if (labyrinth.allCompleteRibs[labyrinth.allCompleteRibs.length - 2] 
									&& r == labyrinth.allCompleteRibs[labyrinth.allCompleteRibs.length - 2]) {
									console.log('need to delete!!!');
									labyrinth.allCompleteRibs.pop();
									labyrinth.allCompletePoints.pop();
								}
							}
						} else {
							if (!inArray(r, labyrinth.allCompleteRibs)) {
								labyrinth.allCompleteRibs.push(r);
								labyrinth.allCompletePoints.push(commonDot);
							} else {
								if (labyrinth.allCompleteRibs.length == 2) {
									labyrinth.allCompleteRibs.pop();
									labyrinth.allCompletePoints.pop();
								}
							}
						}
					}
				} else if (!lastRib) {
					labyrinth.allCompleteRibs.push(r);
				} else {
				
				}
			} else {
				console.log('last rib!!!');
			}
			console.log('complete:');
			console.log(labyrinth.allCompleteRibs);
			// пересчитываем доступные рёбра
			labyrinth.reCountAccessRibs(r);
		} else {
		
		}
		
		/*
		if (labyrinth.allCompleteRibs.length === 0 && inArray(r, getAccessRibsFromPoint(start))) {
			labyrinth.allCompleteRibs.push(r);
		}
		
		lastPoint = labyrinth.allCompletePoints[labyrinth.allCompletePoints.length - 1];
		lastRib = labyrinth.allCompleteRibs[labyrinth.allCompleteRibs.length - 1] ? labyrinth.allCompleteRibs[labyrinth.allCompleteRibs.length - 1] : r;
		
		// смотрим есть ли ребро в списке пройденных рёбер
		// если есть
		if (inArray(r, labyrinth.allCompleteRibs)) {
			// убираем только последнее
			if (labyrinth.allCompleteRibs[labyrinth.allCompleteRibs.length - 1] == r 
				&& labyrinth.allCompleteRibs.length > 0 
				&& labyrinth.allCompletePoints.length > 1
			) {
				// убираем последнее ребро и точку
				labyrinth.allCompleteRibs.pop();
				labyrinth.allCompletePoints.pop();
			}
		// если нету	
		} else {
			curRib = r;
			//console.log(curRib);
			curRibArray = r.split('_');
			for (var k in lastPoint) {
				curPointArray = k.split("_");
				break;
			}
			
			
			var pointTo = {};
			var keyRib;
			
			if (curRibArray[0] == 'a') {
				var borderPointXR = $('#' + lastRib).attr('x2') ? $('#' + lastRib).attr('x2') : $('#' + curRib).attr('x2');
				var borderPointXL = $('#' + lastRib).attr('x1') ? $('#' + lastRib).attr('x1') : $('#' + curRib).attr('x1');
				//console.log(lastRib);
				if (X >= borderPointXR || X <= borderPointXL) {
					//console.log(borderPointXR);
					// тут по идее рёбра и точки надо заносить
					if (accessRibsFromPoint(r, lastPoint)) {
						labyrinth.allCompleteRibs.push(r);
						// заносим точку
						if (X >= $('#' + lastRib).attr('x2')) {
						    keyRib = curRibArray[1] + '_' + (curRibArray[2] + 1);
						    //labyrinth.allCompletePoints.push({keyRib : [$('#' + r).attr('x2'), $('#' + r).attr('y2')]});
						} else {
							keyRib = curRibArray[1] + '_' + (curRibArray[2] + 1);
							//labyrinth.allCompletePoints.push({keyRib : [$('#' + r).attr('x1'), $('#' + r).attr('y1')]});
						}
						// нужно ли дальше что-нибудь?
					} else {
					   // нужно ли дальше условие иначе?
					}
				}
				pointTo = {
					x1: X,
					x2: lastPoint[k][0],	
					y1: $('#' + r).attr('y1') * 1, 
					y2: $('#' + r).attr('y2') * 1
				};
			} else if (curRibArray[0] == 'b') {
				if (Y >= $('#' + lastRib).attr('y2') || Y <= $('#' + lastRib).attr('y1')) {
					// тут по идее рёбра и точки надо заносить
					if (accessRibsFromPoint(r, lastPoint)) {
						labyrinth.allCompleteRibs.push(r);
						// заносим точку
						if (Y >= $('#' + lastRib).attr('y2')) {
						    keyRib = (curRibArray[1] + 1) + '_' + curRibArray[2];
						    labyrinth.allCompletePoints.push({keyRib : [$('#' + r).attr('x2'), $('#' + r).attr('y2')]});
						} else {
							keyRib = (curRibArray[1] + 1) + '_' + curRibArray[2];
							labyrinth.allCompletePoints.push({keyRib : [$('#' + r).attr('x1'), $('#' + r).attr('y1')]});
						}
						// нужно ли дальше что-нибудь?
					}
				}
				pointTo = {
					x1: $('#' + r).attr('x1') * 1,
					x2: $('#' + r).attr('x2') * 1,	
					y1: Y, 
					y2: lastPoint[k][1]
				};
			}
			
			drawLine(pointTo, labyrinth);
		}
		*/
		drawLine({}, labyrinth);
	}); 
});
</script>